/* Custom page footer */
html {
  height: 100%;
}
body {
  background-size: cover;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
h1 {
  font-size: 7em !important;
}
a {
  color: #fff;
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 25px;
  color: #fff;
  font-size: 0.9em;
}

.btn {
  background-color: transparent !important;
  border: 3px solid #fff;
  color: #fff;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active {
  border: 3px solid #fff;
  box-shadow: none;
  outline: 0 !important;
}

.jumbotron {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  min-width: 65%;
  min-height: 540px;
}
.jumbotron .welcome,
.countup {
  text-align: center;
  padding-bottom: 30px;
}
.jumbotron .welcome small {
  color: #fff;
}