<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/effects.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="fade-in one" ng-app="countUpApp" dynamic-background="" background-image="{{bg}}" ng-controller="BgCtrl">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid">
      <div ng-view="" id="ng-view"></div>
      <div class="footer">
        <p>CountUp by 
          <a href="http://linkedin.com/in/keanchuah83" target="_blank">Kean Chuah</a>
        </p>
      </div>
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/bgctrl.js"></script>
    <script src="scripts/services/details.js"></script>
    <script src="scripts/services/bgurl.js"></script>
    <script src="scripts/services/greetings.js"></script>
    <script src="scripts/directives/searchbtn.js"></script>
    <script src="scripts/directives/autocity.js"></script>
    <script src="scripts/directives/dynamicbg.js"></script>
  </body>
</html>
