<div class="jumbotron">
  <div class="welcome">
    <h1>{{timeNow | date:'h:mm'}}<small>{{timeNow | date:'a'}}</small></h1>
    <h2>{{timeNow | date:'H' | greet}}, {{username}}.</h2>
  </div>

  <div class="countup">
    <h3 ng-bind="counter" ng-init="countup()"></h3>
    <button class="btn btn-primary" ng-click="stop()">Show Timer Value</button>
    <h3 ng-show="show_selected">You've selected the value {{stopped_num}}</h3>
  </div>
</div>
